azure-data-factory/pipeline/Dinamizar Copy Data.json
{
	"name": "Dinamizar Copy Data",
	"properties": {
		"activities": [
			{
				"name": "ListarArchivos",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_tiendas",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": "landing",
							"FileName": {
								"value": "@coalesce(null)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FiltrarTiendas",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ListarArchivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListarArchivos').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name, 'Tienda')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "IterarArchivos",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FiltrarTiendas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FiltrarTiendas').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Ejecucion Condicional",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Ejecucion Condicional",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"FileName": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"NombreArchivo": {
				"type": "String",
				"defaultValue": "Tienda Amazon.csv"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-06T03:32:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}